body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

section {
    display: flex;
    background: url(https://images.unsplash.com/photo-1681138568071-d5ad7f3fd4e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80) no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.formBox {
    position: relative;
    display: flex;
    background: transparent;
    outline: none;
    border: none;
    justify-content: center;
    width: 400px;
    height: 450px;
    align-items: center;
}

h2 {
    letter-spacing: 5px;
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

h2 span {
    background: #fff;
    color: black;
    border-radius: 5px;
}

.inputBox {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
    font-size: .9em;
    color: #fff;
}

.inputBox label {
    position: absolute;
    top: 50px;
    left: 5px;
    transform: translateY(-50px);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: 25px;
}

.inputBox input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1em;
}

.forget {
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 5px;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    color: black;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-style: 1.2em;
    font-weight: 500;
    margin-top: 25px;
    height: 40px;
}

.register {
    margin-top: 10px;
    color: #fff;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}
form {
    margin: 20px;
    border: 20px solid;
    border-color: red;
    border-top: none;
    border-bottom: none;
    background-color: cyan;
    border-radius: 20px;
}
img {
    width: 80px;
    height: 50px;
    align-items: flex-start;
    margin-left: 110px;
}

